* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}


h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3rem;
    background-color: #7FAD81;
}

nav {
    background-color: #BBC385;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.menu li:hover {
    text-decoration: underline 2px;
}

.menu li {
    font-size: 1.7rem;
    list-style: none;
    font-weight: bold;
    padding-bottom: 0.5rem;
}


.menu li a {
    text-decoration: none;
    color: black;
}

#burger-toggle {
    display: none;
}

nav label {
    display: none;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    nav {
        padding: 0;
    }

    .menu {
        display: none;
    }
    
    .menu li,
    nav label {
        text-align: center;
        padding-top: 0.2em;
    }

    nav label {
        display: block;
        font-size: 2rem;

    }

    #burger-toggle:checked + .menu {
       display: block;
    }

    nav label:hover {
        cursor: pointer;
    }



}