* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}


h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3rem;
    background-color: #7FAD81;
}

nav {
    background-color: #BBC385;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.menu li:hover {
    text-decoration: underline 2px;
}

.menu li {
    font-size: 1.5rem;
    list-style: none;
    font-weight: bold;
    padding-bottom: 0.5rem;
}


.menu li a {
    text-decoration: none;
    color: black;
}

#burger-toggle {
    display: none;
}

nav label {
    display: none;
}



section {
    
}

#banner {
  background-color: #f8daed;
  opacity: 0.8;
  display: grid;
  grid-template: repeat(3, auto) / auto;
  justify-content: center;
  height: 30em;
}

#banner img {
    opacity: 0.8;
    height: 30em;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

#banner p {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    z-index: 2;
    text-align: center;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    padding: 0.3em 0;
    background-color: #f8daed;
    opacity: 0.8;
}

.main-parts {
    margin: 6em 8em 0 8em;
    text-align: center;
    padding: 0 3em 3em 3em;

    
}

.main-parts h2 {
    font-size: 2rem;
    margin-bottom: 1.5em;
    background-color: #f8daedde;
}

.main-parts p {
    font-size: 1.2rem;
    line-height: 1.5em;
    
}

#about p {
    border: 2px solid #BBC385;
    padding: 2em;
}

#events {
    padding-top: 0;
}

#events img {
    height: 333px;
    width: 500px;
}

#event-gallery {
    display: grid;
    grid-template: auto / repeat(3, auto);
}

#events p {
    font-size: 1.5rem;
    font-weight: bold;
}

#events img:hover {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    nav {
        padding: 0;
    }

    .menu {
        display: none;
    }
    
    .menu li,
    nav label {
        text-align: center;
        padding-top: 0.2em;
    }

    nav label {
        display: block;
        font-size: 2rem;

    }

    #burger-toggle:checked + .menu {
       display: block;
    }

    nav label:hover {
        cursor: pointer;
    }



}