* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7FAD81;
    height: 9rem;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 4.5rem;
}

nav ul li {
    font-size: 1.5rem;
}